.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
}
.box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
 }


.contDois {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;


}

.divTres {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    margin-top: 40px;
}

.divDois {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    margin-top: 40px;
}
.pagina {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 100px;

}